/* setting the height and width to 100% so that hero image can be placed properly */
body, html {
    height: 100%;
    width: 100%;
    color: #222;
    font-family: 'Poppins', sans-serif;
}

/* makes the nav bar bigger vertically so it looks more spaced out and easier to see */
.navbar {
    padding: .8rem;
}

/* added some padding to the nav bar so it looks more spaced out and less cramped up */
.navbar-nav li {
    padding-right: 15px;
}

/* changing the font size of the nav items so that the text are easier to see */
.nav-link {
    font-size: 1.1em;
}

/* positioning the caption so that it can be in the middle of the hero image */
.intro-caption {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* changing the font size of the brand name so that it looks bigger and attracts more attention */
.intro-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

/* changing the font size of the short description of the website and brand name so that it can still attract attention but not as much as the brand name */
.intro-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px white;
    padding-bottom: 1rem;
}

/* changing the design of the buttons on the home page */
.btn-outline-light {
    border: 3px solid white;
}

/* changing the length and thickness of thematic break */
.feature1 hr {
    width: 27%;
    border-top: 2px solid #b4b4b4;
}

/* changing the length and thickness of thematic break */
.feature2 hr {
    width: 37%;
    border-top: 2px solid #b4b4b4;
}

/* changing the length and thickness of thematic break */
.feature3 hr {
    width: 17%;
    border-top: 2px solid #b4b4b4;
}

/* changing the length and thickness of thematic break */
.feature4 hr {
    width: 30%;
    border-top: 2px solid #b4b4b4;
}

/* added some padding to the top and bottom of the section to make it more spaced out */
.feature-intro1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* changing the length and thickness of thematic break */
.socials hr {
    width: 47%;
    border-top: 2px solid #b4b4b4;
}

/* changing the size and spacing of the social media icons */
.social a {
    font-size: 3.5em;
    padding: 3rem;
}

/* adding colours so that the social media icons look like the original */
.fa-facebook {
    color: #3b5998;
}

/* adding colours so that the social media icons look like the original */
.fa-twitter {
    color: #00aced;
}

/* adding colours so that the social media icons look like the original */
.fa-instagram {
    color: #517fa4;
}

/* adding colours so that the social media icons look like the original */
.fa-youtube {
    color: #bb0000;
}

/* changing the colour when hovering over the social media icons to make it more interactive and aesthetic */
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}

/* hero image for home page */
.bkground-img {
    background-image: url('../images/background-image3.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* changing the alignment so that results would be aligned to the center of their respective boxes */
.table-responsive {
    text-align: center;
}

/* keeping the flex items in the flex container */
.flex-container1 {
    background-color: lightgray;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0%;
}

/* setting the flex items so that they will be side by side */
.flex-item1 {
    flex-basis: 46%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

/* setting max width for the images */
.flex-item1 img {
    max-width: 100%;
}

/* changing the theme of the footer section, giving it colour, font colour and padding to make it more spaced out */
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

/* changing the thickness of the thematic break below the footer section */
hr.light {
    border-top: 1px solid #d5d5d5;
}

/* changing the content so that they will fit in mobile view */
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .intro-caption {
        text-align: center;
        top: 45%;
        left: 50%;
    }
    
    .intro-caption h1 {
        font-size: 330%;
    }
    
    .intro-caption h3 {
        font-size: 110%;
        font-weight: 400;
        padding-bottom: 0.2rem;
    }

    .btn-outline-light {
        font-size: 100%;
    }
}

@media (max-width: 576px) {
    .btn-outline-light {
        font-size: 70%;
    }
}
